
<p>{{singlepost.name}}</p>
    <img class="image" src="{{singlepost.image}}" alt="{{singlepost.name}}" />
    <p>Likes: {{singlepost.likes}}</p>
    @if(singlepost.isLiked) {
        <img class ="like-button" src="../assets/img/heart-red.png" alt="Like" (click)="likePost(singlepost)" />
    } @else {
    <img class ="like-button" src="../assets/img/heart-black.png" alt="Like" (click)="likePost(singlepost)" />


    @for(comment of singlepost.comments; track $index) {
            <p>Comments:
        {{$index +1}}: {{comment}}</p>
    }

<label>New comment: <input [(ngModel)]="newComment"></label>
<button (click)="addNewComment()">Post comment</button>

}